Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==4.8.0
django-cors-headers==4.3.1
PyMySQL==1.1.0
Pillow==10.1.0
reportlab==4.0.7
django-environ==0.11.2
setuptools
gunicorn
cryptography